In [73]:
import pandas as pd
lbdata=pd.read_csv("D:\Rstudio\Datasets\modeldata.csv")

In [2]:
lbdata.shape

(308948, 18)

In [3]:
lbdata.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
id,308948,308948,e8c18fcfca60840a7e95f7e7639744a9,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
extract_date,308948,1,10-01-2017,308948,NaN,NaN,NaN,NaN,NaN,NaN,NaN
skill,308948,5,BEGINNER,131207,NaN,NaN,NaN,NaN,NaN,NaN,NaN
job,144304,14,STUDENT,40501,NaN,NaN,NaN,NaN,NaN,NaN,NaN
purpose,144288,5,ME_PROFESSIONAL,84504,NaN,NaN,NaN,NaN,NaN,NaN,NaN
target_group,308948,38,EDGEN - STUDENT,59763,NaN,NaN,NaN,NaN,NaN,NaN,NaN
business_group,308948,9,EDUCATION,89835,NaN,NaN,NaN,NaN,NaN,NaN,NaN
business_segment,308923,6,INDIVIDUAL,94681,NaN,NaN,NaN,NaN,NaN,NaN,NaN
signup_source,308948,104,Renga Auto Provisioning,197649,NaN,NaN,NaN,NaN,NaN,NaN,NaN
signup_category,308948,5,DESKTOP,277554,NaN,NaN,NaN,NaN,NaN,NaN,NaN
first_cc_subscription_dts,308948,173958,02-07-2017 00:00,112,NaN,NaN,NaN,NaN,NaN,NaN,NaN
country_code,308948,42,US,259525,NaN,NaN,NaN,NaN,NaN,NaN,NaN
product_id,195650,32219,APRO,35513,NaN,NaN,NaN,NaN,NaN,NaN,NaN
download_attempts,195650,NaN,NaN,NaN,4.05234,9.02657,1,1,2,4,1933
product_platforms,195650,3,WIN,115994,NaN,NaN,NaN,NaN,NaN,NaN,NaN
machines,195650,NaN,NaN,NaN,0.881119,0.884315,0,0,1,1,181
error_codes,13154,1931,6,1880,NaN,NaN,NaN,NaN,NaN,NaN,NaN
label,308948,NaN,NaN,NaN,0.0536628,0.225351,0,0,0,0,1

In [6]:
lbdata.isnull().sum()

id                                0
extract_date                      0
skill                             0
job                               0
purpose                           0
target_group                      0
business_group                    0
business_segment                  0
signup_source                     0
signup_category                   0
first_cc_subscription_dts         0
country_code                      0
product_id                        0
download_attempts                 0
product_platforms                 0
machines                          0
error_codes                  295794
label                             0
dtype: int64

In [74]:
lbdata.fillna({'job':'0','purpose':'0','business_segment':'INDIVIDUAL','product_id':'0','download_attempts':0,'product_platforms':'WIN','machines':1},inplace=True)

In [75]:
lbdata=lbdata.drop(['id','extract_date','error_codes','first_cc_subscription_dts'], axis=1)

In [9]:
lbdata.shape

(308948, 14)

In [76]:
from sklearn.preprocessing import LabelEncoder
#run it for the 1st time(create a instance of it)
le=LabelEncoder() 
X=lbdata
for i in range(0,X.shape[1]):
    if X.dtypes[i]=='object':
        X[X.columns[i]]=le.fit_transform(X[X.columns[i]])

In [77]:
lbdata_x=lbdata.iloc[:,0:13]
lbdata_y=lbdata.iloc[:,-1]

In [15]:
lbdata_x.head()

,skill,job,purpose,target_group,business_group,business_segment,signup_source,signup_category,country_code,product_id,download_attempts,product_platforms,machines
0,0,1,2,17,5,1,24,1,38,24328,2.0,0,1.0
1,0,1,2,12,5,1,85,1,38,7313,1.0,2,0.0
2,0,0,0,19,6,4,27,3,38,17507,3.0,1,1.0
3,0,11,1,13,5,1,85,1,38,28424,2.0,2,1.0
4,0,11,2,13,5,1,85,1,38,12938,1.0,0,0.0

In [78]:
from sklearn.model_selection import train_test_split
x_train, x_test,y_train, y_test=train_test_split(lbdata_x,lbdata_y,test_size=.2,random_state=101)

In [79]:
from  sklearn.linear_model import LogisticRegression
logmodel=LogisticRegression()
logmodel.fit(x_train, y_train)

C:\Users\dell\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [80]:
pred=logmodel.predict(x_test)
from sklearn.metrics import confusion_matrix
table1=confusion_matrix(pred, y_test)

In [81]:
table1

array([[58404,  3386],
       [    0,     0]], dtype=int64)

# OVERSAMPLING

In [82]:
temp_data=pd.concat([x_train, y_train], axis=1)

In [83]:
y_train.value_counts()

0    233965
1     13193
Name: label, dtype: int64

In [84]:
label_1=temp_data[temp_data.label==1]

In [85]:
while temp_data.label.value_counts()[1] < 250000:
    temp_data = pd.concat([temp_data,label_1],axis=0)

In [86]:
temp_data.shape

(484632, 14)

In [87]:
x_train= temp_data.iloc[:,0:13]
y_train= temp_data.iloc[:,-1]

In [58]:
x_train.head()

,skill,job,purpose,target_group,business_group,business_segment,signup_source,signup_category,country_code,product_id,download_attempts,product_platforms,machines
286482,4,0,0,24,7,3,85,1,38,7313,1.0,0,0.0
216433,0,9,2,7,1,3,85,1,38,26254,5.0,2,1.0
148331,0,0,0,10,4,3,95,1,38,30352,5.0,0,1.0
18986,0,4,2,19,6,4,85,1,38,7313,1.0,2,0.0
193153,4,0,0,7,1,3,85,1,38,0,0.0,2,1.0

# LOGISTIC REGRESSION

In [41]:
from  sklearn.linear_model import LogisticRegression
logmodel=LogisticRegression()
logmodel.fit(x_train, y_train)

C:\Users\dell\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [42]:
pred=logmodel.predict(x_test)
from sklearn.metrics import confusion_matrix
table1=confusion_matrix(pred, y_test)
table1

array([[31281,  1211],
       [27123,  2175]], dtype=int64)

In [43]:
table1.diagonal().sum()  / table1.sum()  * 100

54.14468360576144

In [45]:
from sklearn.tree import DecisionTreeClassifier
dtree=DecisionTreeClassifier()
dtree.fit(x_train, y_train)
pred=dtree.predict(x_test)
from sklearn.metrics import confusion_matrix
dtree_table1=confusion_matrix(pred, y_test)
dtree_table1

array([[49422,  2559],
       [ 8982,   827]], dtype=int64)

In [46]:
dtree_table1.diagonal().sum()  / dtree_table1.sum()  * 100

81.32222042401683

In [61]:
from sklearn.ensemble import RandomForestClassifier
rfc= RandomForestClassifier()
rfc.fit(x_train, y_train)
rf_pred= rfc.predict(x_test)
rf_tab1=confusion_matrix(rf_pred, y_test)
rf_tab1

C:\Users\dell\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

array([[46301,  2482],
       [12103,   904]], dtype=int64)

In [62]:
rf_tab1.diagonal().sum()  / rf_tab1.sum()  * 100

76.39585693477909

In [88]:
from sklearn.ensemble import AdaBoostClassifier
abc=AdaBoostClassifier(DecisionTreeClassifier(),n_estimators=10)
abc.fit(x_train,y_train)
pred_value=abc.predict(x_test)
adb_tab1=confusion_matrix(pred_value, y_test)
adb_tab1

array([[49525,  2570],
       [ 8879,   816]], dtype=int64)

In [89]:
adb_tab1.diagonal().sum()  / adb_tab1.sum()  * 100

81.47111183039327